#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 120px;
	padding-left: 0 auto;
	padding-right: 0 auto;
	height: 95px;
	width: 270px;
}

.top_bar {
	float: right;
	width: 100%;
	height: 30px;
}

#top_links {
	float: right;
	display: inline;
	text-decoration: none;
	color: #666666;
	padding: 5px 8px 5px 8px;
	font-size: small;
	font-family: Arial;
	list-style-type: none;

}

#top_links:link {
	text-decoration: none;
}